<div class="container">
  <h1>npm install jspdf</h1>
  <p> En angular.js agregar</p>
  <strong>
  "scripts": [
    "node_modules/jspdf/dist/jspdf.es.min.js",
    ...
  ]
  </strong>
  <div class="row">

    <div class="col-md-8" id="htmlData" #htmlData>
      <table class="table table-bordered">
        <tr class="table-warning">
          <th>Id</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
        </tr>
        <tr *ngFor="let user of USERS">
          <th >{{user.id}}</th>
          <td >{{user.name}}</td>
          <td >{{user.email}}</td>
          <td >{{user.phone}}</td>
        </tr>
      </table>
    </div>

    <div class="col-md-4 text-right">
      <button class="btn btn-success btn-block" (click)="pdfBase()">PDF Base</button>
      <button class="btn btn-success btn-block" (click)="openPDF()">Open PDF</button>
      <button class="btn btn-danger btn-block" (click)="downloadPDF()">Download PDF</button>
    </div>

  </div>
</div>
